.arrow_box {
	position: relative;
	background: #d5d5d5;
	border: 4px solid #f50707;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(213, 213, 213, 0);
	border-top-color: #d5d5d5;
	border-width: 30px;
	margin-left: -30px;
}
.arrow_box:before {
	border-color: rgba(245, 7, 7, 0);
	border-top-color: #f50707;
	border-width: 36px;
	margin-left: -36px;
}

body{padding:20px 0 200px;text-align: center;}

/* tomato 테마 제작 */
.tippy-box[data-theme~='tomato'] {
    background-color: tomato;
    color: yellow;
}
.tippy-box[data-placement^=top]>.tippy-arrow:before{
    border-top-color: tomato;
}